@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Libre+Baskerville:400');

.FunctionalOverview-introduction {
  background-color: white;
  padding: 24;
  min-height: 200;
}

.FunctionalOverview-function {
  background-color: white;
  padding: 24;
  min-height: 200
}

.FunctionalOverview-img {
  height: 50%;
  width: 50%;
}

.FunctionalOverview-title {
  padding: 1%;
  margin: 1%;
  text-align: center;
  /* font-family: 'Libre Baskerville', serif; */
  /* font-size: 20px; */
  /* color: #0db7c4; */
}

.FunctionalOverview-content {
  margin: 1%;
  padding: 1%;
}

.FunctionalOverview-left {
  text-align: center;
}

.FunctionalOverview-text {
  /* font-family: 'Bree Serif', serif; */
  /* font-size: 16px; */
}

.FunctionalOverview-button {
  text-align: center;
  font-size: 18px;
}